<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div th:with="userDetails=${#authentication.principal}">
        <div class="user-details">
            <div class="user-info">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <input type="hidden" th:value="${#authentication.principal.id}"/>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td th:text="${#authentication.principal.memberId}"></td>
                        </tr>
                        <tr>
                            <th>패스워드</th>
                            <td th:if="${#authentication.principal != null}" th:text="${#authentication.principal.memberPwd} ? '********' : ''"></td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td th:text="${#authentication.principal.memberName}"></td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td th:text="${#authentication.principal.memberPhone}"></td>
                        </tr>
                        <tr>
                            <th>도시</th>
                            <td th:text="${#authentication.principal.city}"></td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td th:text="${#authentication.principal.street}"></td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td th:text="${#authentication.principal.zipcode}"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="#" th:href="@{/members/{id}/update(id=${#authentication.principal.id})}" class="btn btn-primary" role="button">정보 수정</a>
                            </td>
                            <td align="center">
                                <a href="#" th:href="@{/members/{id}/withdrawal(id=${#authentication.principal.id})}" class="btn btn-primary" role="button">회원 탈퇴</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="user-articles">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(#authentication.principal.articles)}">
                        <td colspan="8">
                            <p align="center">아직 작성한 글이 없습니다.</p>
                        </td>
                    </tr>
                    <tr th:each="article, iterStat : ${#authentication.principal.articles}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${article.title}"></td>
<!--                        <td th:text="${article.content}"></td>-->
                        <td th:text="${#strings.length(article.content) > 10 ? #strings.substring(article.content, 0, 10) + '...' : article.content}"></td>
                        <td th:text="${#authentication.principal.memberId}"></td>
                        <td th:text="${article.createDate}"></td>
                        <td colspan="8" align="right">
                            <a href="#" th:href="@{/articles/{id}/update (id=${#authentication.principal.id})}" class="btn btn-primary" role="button">글 수정</a>
                            <a href="#" th:href="@{/articles/{id}/remove (id=${#authentication.principal.id})}" class="btn btn-primary" role="button">글 삭제</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="8" align="right">
                            <a href="#" th:href="@{/articles/{id}/new (id=${#authentication.principal.id})}" class="btn btn-primary" role="button">글 작성</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
