<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    /* 기본 행 스타일 */
    .row-link {
        transition: background-color 0.3s;
    }

    /* 마우스 hover 상태일 때의 스타일 */
    .row-link:hover {
        background-color: #f5f5f5; /* 선택한 색상으로 변경하세요 */
        cursor: pointer; /* 마우스 호버 효과 포인터로 변경 */
    }

    .table-row-highlight {
        background-color: #f5f5f5 !important; /* 선택된 행 배경색 */
        cursor: pointer; /* 마우스 호버 효과 포인터로 변경 */
    }

    .table-row-highlight:hover {
        background-color: #e0e0e0 !important;
    }
</style>


<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron"><h2>게시판에 오신걸 환영합니다.</h2></div>

    <div class="user-articles">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article, iterStat : ${allArticles.content}" th:attr="data-url=@{'/articles/' + ${article.articleId} + '/detail'}" onclick="window.location.href=this.getAttribute('data-url');" style="cursor: pointer;" th:class="${iterStat.even}? 'even' : 'odd'">
                <td th:hidden="${article.articleId}"></td>
                <td th:text="${article.title}"></td>
                <td th:text="${article.content}"></td>
                <td th:text="${article.member.memberId}"></td>
                <td th:text="${article.createDate}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 부분 -->
        <!-- 페이징 부분 -->
        <div class="center text-center">
            <nav>
                <ul class="pagination justify-content-center" th:if="${allArticles != null}">
                    <li class="page-item" th:if="${allArticles.hasPrevious()}">
                        <a class="page-link" th:if="${allArticles.previousPageable() != null}" th:href="@{/(page=${allArticles.previousPageable().pageNumber})}">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(allArticles.number, allArticles.totalPages - 1)}" th:class="${i == allArticles.number ? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:href="@{/(page=${i})}" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${allArticles.hasNext()}">
                        <a class="page-link" th:if="${articlePage.nextPageable() != null}" th:href="@{/(page=${allArticles.nextPageable().pageNumber})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
